<!DOCTYPE html>
<html>
    <head>
        <title>CSS Grid with VueJs Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">

        <!-- Vue.js 2 development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="vue_app">
            <div class="grid_container">
                <div class="header">
                    <h1>{{ message }}</h1>
                </div>

                <div class="navigation">
                    <ul class="navLinks">
                        <li>Recipes</li>
                        <li>Blog</li>
                        <li>About</li>
                    </ul>
                </div>

                <div class="main_content">
                    <h1>Content goes here...</h1>
                </div>

                <div class="footer">
                    <h4>Created by Patrick</h4>
                </div>
            </div>
        </div>

        <script>
          new Vue({
            el: '#vue_app',
            data: {
              message: 'Family Recipes',
            },
          });
        </script>
    </body>
</html>
