@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');

* {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgba(23, 50, 91, 1.0);
  color: white;
  font-family: 'Didact Gothic', sans-serif;
}

/* CSS Grid Styling
*******************/
.header {
  grid-area: header;
}
.navigation {
  grid-area: navigation;
}
.main_content {
  grid-area: main_content;
}
.footer {
  grid-area: footer;
}

.grid_container {
  display: grid;
  grid-template-columns: 10% 25% auto 10%;
  grid-auto-rows: 4em 4em auto 2em;
  grid-gap: 10px;
  max-width: 960px;
  height: 100vh;
  grid-template-areas:
    "header       header       header       header"
    "navigation   navigation   navigation   navigation"
    "main_content main_content main_content main_content"
    "footer       footer       footer       footer";
}

@media screen and (min-width: 900px) {
  .grid_container {
    display: grid;
    grid-template-columns: 10% 25% auto 10%;
    grid-auto-rows: 4em auto 2em;
    grid-gap: 10px;
    max-width: 1280px;
    grid-template-areas:
      "header       header       navigation   navigation"
      "main_content main_content main_content main_content"
      "footer       footer       footer       footer";
  }
}

/* Header Styling
*****************/
.header {
  margin: auto;
}

.header h1 {
  font-size: 2.5em;
}

/* Navigation Styling
*********************/
.navigation {
  margin: auto;
}

.navLinks ul {
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding-left: 1em;
  font-size: 1.5em;
}

/* Content Styling
*********************/
.main_content {
  margin: auto;
}

/* Footer Styling
*********************/
.footer {
  margin: auto;
}

.footer h4 {
  font-size: 1em;
}
